/*Reset
------------------------------------*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Arial;
	color: #959595;
	
}

a{
	text-decoration: none;
	color: #f71d1d;
}

ul{
	list-style: nome;
}

/*Geral
------------------------------------*/
.row{
	width: 100%;
	float: left;
	margin-bottom: 50px;
}
.content{
	width: 1024px;
	margin: 0 auto;
	
}

/*Header
------------------------------------*/
.header-logo{
	padding:10px;
}
.header-logo{
	float: left;
}
.header-logo  h1 a{
	color: #959595;
}
.header-logo  h1 a span.Gutierrez{
	color: #016fba;
}
.header-logo  h1 a span.Alimentos{
	color: #e54d26;
}

.header-menu{
	float:right;
}
.header-menu ul li{
	display: inline-block;
	margin-left: 20px;
}

/*Bem Vindo
------------------------------------*/
.bem-vindo{
	background-color: #ff6969;
	padding: 20px 0;
	text-align:center;
	color: #fff;
}
.carrosel{
	width: 100px;
	height: 100px;
	outline: 3px solid #fff;

	margin: 50px auto;
	box-decoration-break: 10px 10px 15px rgba(0,0,0,0,7);
}

.carrosel ul{
	display: flex;
	list-style: none;
	width: 500px;
	height: 700px;
	overflow: hidden;
}
.carrosel li{
	position: relative;
	left: -1000px;
	animation: slide 15s infinite ease-out;
}

@keyframes slide{
	0%{left: 0px}
	
	20%{left: -400px;}
	
	40%{left: -800px;}

	60%{left: -1500px;}

	80%{left: -2500px;}

	100%{left: 0px;}
}
